* {margin: 0; padding: 0;}
 
ul div {
    margin: 20px;
}
 
ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
    float: left;
    margin: 0 15px 0 0;
}
 
li p {
    font: 200 15px/1.5 Georgia, Times New Roman, serif;
}
 
li {
    padding: 10px;
    overflow: auto;
}
 
li:hover {
    background: #cde5ef;
    cursor: pointer;
}


#flash-player {
    width:600px;
    height:400px;
    display:block;
}
